 body{

}

.login-box{
  
}
.login-left{
  background:#065294;
  font-size: 12px;


}
.login-right{
  background:#177EB8;
  height:150px;
  }

.form-control{
  background-color: transparent; !important;
}
.topnav {
  overflow: hidden;
  background-color:transparent;
}

/* Navbar links */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding:15.5px 13px;
  text-decoration: none;
  font-size: 11px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;

}

.topnav a:hover {
  background-color: transparent;
  color: lightblue;
  border:black;
}
.topbar {
margin-top: 1%

}
.topbar  a {

  border-radius: 5px;
  color: white;
  background:#065294;
  text-align: center;
  padding:10px 15px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.topbar a:hover {
  background-color:white;
  color:#065294;
  
}
 

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
background:#177EB8;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
 background:#177EB8;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
